@import "../../../variables.css";

.btn {
  height: var(--btn-height);
  color: white;
  border: 1px inset;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.disabled {
  background-color: #858585;
  border-color: #5c5c5c;
  cursor: default;
}

.active {
  background-color: #3498db;
  border-color: #2980b9;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.active:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn img,
.btn svg {
  height: calc(var(--btn-height) * var(--icon-scale));
  width: auto;
}
